body{
    font-family: font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 40%;
    margin-bottom: 100px;
}
#main-title{
    font-size: 50px;
    font-weight: 700;
}
.burger-font-color{
    color: gold;
}
.button{
    background-image: linear-gradient(yellow, gold);
    padding: 10px 40px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

